.body{
    background-image: url(assets/home_bg.jpeg);
    background-size: cover;
}
.nav{
    background-color: black;
    width: 1330px;
    height:50px;
    margin-left: -20px;
    padding: 20px;
    margin-top: -45px;
}
li,a{
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding-left: 15px;
    margin-left: 95px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans    Unicode', Geneva, Verdana, sans-serif;
}
.cine{
    margin-top: 80px;
    margin-left: 100px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.cine_img{
    margin-left: -100px;
    margin-top: 10px;
}
.pix{
    margin-top: -600px;
    margin-left: 500px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.roll{
    margin-top: -600px;
    margin-left: 900px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.roll2{
    margin-top: 100px;
    margin-left: 100px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.meme{
    margin-top: -600px;
    margin-left: 500px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.sudden{
    margin-top: -600px;
    margin-left: 900px;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.foot{
    background-color: rgba(255, 255, 255, 0.838);
    padding: 45px;
    text-align: center;
    margin-top: 95px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    width: 1305px;
    height:250px;
    margin-left: -20px;
}
.map{
    width : 1310px;
    height: 310px;
    margin-top: -40px;
}
.title{
    color:rgb(10, 247, 255);
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img{
    margin-bottom: -40px;
}